<section class="section" id="section-benefits">
    <div class="container">
        <header class="section-header">
            <h2>{{ i18n "sectionBenefitsTitle" }}</h2>
            <hr>
            <p class="lead">{{ i18n "sectionBenefitsDescription" }}</p>
        </header>


        <div class="row gap-y text-center">
            {{ range .Params.Benefits }}
            <div class="col-md-6 col-xl-4">
                <div class="media">
                  <div class="lead-6 line-height-1 {{ .iconClass }} mr-5"><i class="material-icons md-48">{{ .icon }}</i></div>
                  <div class="media-body">
                    <h5>{{ T .title }}</h5>
                    <p>{{ T .description }}</p>
                  </div>
                </div>
              </div>
            {{ end }}
        </div>
    </div>
</section>