<section id="features" class="section bb-1 {{ .bg_class }}">
  <div class="container">
    <header class="section-header">
      <h2>{{ T "sectionNutritionTitle" }}</h2>
      <hr>
      <p class="lead">{{ T "sectionNutritionDescription" }}</p>
    </header>
    <div class="row gap-y align-items-center">
      <div class="col-md-6 mx-auto col-lg-4 text-center text-lg-right">
        <p class="text-info lead-6"><i class="icon-wallet"></i></p>
        <h5>{{ T "sectionNutritionStatement1Title"}}</h5>
        <p>{{ T "sectionNutritionStatement1Description" }}</p>
        <br><br>

        <p class="text-info lead-6"><i class="icon-linegraph"></i></p>
        <h5>{{ T "sectionNutritionStatement2Title"}}</h5>
        <p>{{ T "sectionNutritionStatement2Description" }}</p>
      </div>


      <div class="col-lg-4 text-center px-5 py-7 py-lg-0">
        <img src="/img/sections/phone-1.png" alt="phone">
      </div>


      <div class="col-md-6 mx-auto col-lg-4 text-center text-lg-left">
        <p class="text-info lead-6"><i class="icon-clipboard"></i></p>
        <h5>{{ T "sectionNutritionStatement3Title" }}</h5>
        <p>{{ T "sectionNutritionStatement3Description" }}</p>
        <br><br>

        <p class="text-info lead-6"><i class="icon-hourglass"></i></p>
        <h5>{{ T "sectionNutritionStatement4Title"}}</h5>
        <p>{{ T "sectionNutritionStatement4Description" }}</p>
      </div>

    </div>

  </div>
</section>