<section class="section bg-gray" id="section-partners">
    <div class="container">
        <header class="section-header">
            <h2>{{ T "sectionPartnersTitle"}}</h2>
        </header>

        <div class="partner">
            {{ range .Params.Partners }}
            {{ $logo := (resources.Get .logo).Resize "x100" }}

            <img src="{{ $logo.Permalink }}" class="mr-4 ml-4"
                alt="{{ T .name }}">
            {{ end }}
            </a>
        </div>
    </div>
</section>