<!DOCTYPE html>
<html lang="{{ T "languageName" | lower }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ T "headerDescription" }}">

    <title>{{ T "title" }}</title>

    {{ $css := resources.Get "css/page.min.css" }}

    <link href="{{ $css.Permalink }}" rel="stylesheet">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="{{ T "title" }}">
    <meta property="og:description" content="{{ T "headerDescription" }}">
    <meta property="og:image" content="{{ resources.Get "img/social-cover.png" | absURL }}">
    <meta property="og:url" content="{{ .Permalink | absURL }}">
</head>

<body>
    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}
    {{ partial "policy_popup.html" . }}

    {{ $js := resources.Get "js/page.min.js" }}
    <script src="{{ $js.Permalink }}"></script>
</body>

</html>