    <footer class="footer py-7">
        <div class="container text-center">
            {{ $privacyPolicy := resources.Get "documents/lt/privacy-policy.pdf" }}
            {{ $fairUseRules := resources.Get "documents/lt/fair-use-rules.pdf" }}

            <div class="nav nav-bolder nav-uppercase nav-center">
                <a class="nav-link" href="{{ $fairUseRules.Permalink }}" rel="nofollow" target="_blank">
                    {{ T "footerFairUseRules" }}
                </a>
                <a class="nav-link" href="{{ $privacyPolicy.Permalink }}" rel="nofollow" target="_blank">
                    {{ T "footerPrivacyPolicy" }}
                </a>
            </div>

            <br>
            <small>
                © NephroLog. {{ T "footerAllRightsReserver" }}.
            </small>

        </div>
    </footer>