<header class="header background-getpet-header text-white pb-7">
    <div class="bg-primary overlay opacity-80"></div>

    <div class="container text-center">
        <div class="row h-100">
            <div class="col-lg-8 mx-auto align-self-center">
                <h1 class="display-4 my-6"><strong>{{ i18n "headerName" }}</strong> - {{ i18n "headerMoto" }}</h1>
                <p class="lead-3">{{ i18n "headerDescription" }}</p>
                <hr class="w-80px">
                <div>
                    <a class="btn btn-xl btn-round btn-outline-light m-2" href="/sunys/">Svajonių šunys</a>
                    <a class="btn btn-xl btn-round btn-outline-light m-2" href="/kates/">Svajonių katės</a>
                </div>
            </div>
            <div class="col-12 align-self-end text-center mt-6">
                <a class="scroll-down-1 scroll-down-white" href="#section-benefits"><span></span></a>
            </div>
        </div>
    </div>
</header>