{{ define "main" }}

{{ partial "navigation.html" }}
{{ partial "header.html" }}

<!-- Main Content -->
<main class="main-content">
    {{ partial "sections/section_benefits.html" . }}
    {{ partial "sections/section_nutrition.html" . }}
    {{ partial "sections/section_health_indicators.html" . }}
    {{ partial "sections/section_team.html" . }}
    <!-- {{ partial "sections/section_nutrition.html" (dict "bg_class" "") }} -->

    <section class="section">
        <div class="container">
            <header class="section-header">
                <small>Content</small>
                <h2>How To Get Started</h2>
                <hr>
            </header>


            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p><strong>1. <a href="readme.html">Read me</a></strong> file is the staring point. It includes
                        some guides and FAQs which answers most of your questions. So you should start reading now
                        if you haven't.</p>

                    <p><strong>2. <a href="http://thetheme.io/thesaas/uikit/navbar.html"
                                target="_blank">Navbar</a></strong> is a must have components for most of websites.
                        Lean about navbars to create your own or use any of the available samples by visiting navbar
                        documentation.</p>

                    <p><strong>3. <a href="http://thetheme.io/thesaas/block/header.html" target="_blank">Header</a>
                            or <a href="http://thetheme.io/thesaas/block/cover.html" target="_blank">Cover</a></strong>
                        is the next step. Create or use one of the
                        available headers for your internal pages or get inspired by our sample covers for your
                        homepage.</p>

                    <p><strong>4. <a href="http://thetheme.io/thesaas/block/footer.html"
                                target="_blank">Footer</a></strong> is a mandatory part of most websites. Get a
                        sample footer, make it yours, and use it in all of the pages. Feel free to change the
                        background color of footers using utility classes.</p>

                    <p><strong>5. <a href="http://thetheme.io/thesaas/block/" target="_blank">Blocks</a></strong>
                        are the content here. We have hundreds of blocks, categorized in more than 20 pages. Simply
                        pick what you need and change the text and image of the block and you're good to go.</p>

                    <p><strong>6. <a href="http://thetheme.io/thesaas/uikit/" target="_blank">UI Kit</a></strong> is
                        the final destination for your creativity. If you need to create a custom block or get
                        enough knowledge for modifying the existing blocks, this is the place.</p>
                </div>
            </div>


        </div>
    </section>



</main>
{{ end }}